In [1]:
import pandas as pd

In [2]:
# loading the dataset

df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
#6

m_s = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]
m_s['Y2015'].sum()

173.04999999999998

In [4]:
#7

round(df.describe()['Y2017'][['mean', 'std']],2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

In [5]:
#8

df.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [6]:
#10

df.groupby('Element').sum()['Y2017']['Processing']

292836.0

In [7]:
#12

print(df['Y2014'].isnull().value_counts())
print()
print(df['Y2014'].isnull().value_counts(normalize=True))

False    59354
True      1589
Name: Y2014, dtype: int64

False    0.973926
True     0.026074
Name: Y2014, dtype: float64

In [8]:
#13

df[['Y2017', 'Area']].groupby('Area').sum().sort_values(by='Y2017', ascending=False)

                                  Y2017
Area
Nigeria                      1483268.23
Egypt                         866379.92
South Africa                  517590.54
Ethiopia                      448683.76
Morocco                       388495.36
Ghana                         337599.06
Algeria                       325644.27
United Republic of Tanzania   322616.85
Kenya                         264660.66
Sudan                         239931.92
Cameroon                      232030.43
Angola                        229159.57
Côte d'Ivoire                 224599.01
Uganda                        213950.38
Malawi                        181098.71
Mozambique                    161407.98
Mauritania                    156665.46
Mali                          149928.33
Madagascar                    131197.73
Niger                         126707.58
Benin                         124771.22
Tunisia                       124167.20
Zambia                        103223.77
Burkina Faso                  101855.07
Guinea                         98138.87
Senegal                        95681.15
Zimbabwe                       75919.34
Rwanda                         73663.69
Chad                           71594.68
Sierra Leone                   55311.33
Eswatini                       54343.33
Mauritius                      51114.83
Togo                           49841.88
Congo                          41181.68
Central African Republic       29937.00
Namibia                        29874.89
Liberia                        29342.20
Gabon                          27979.64
Gambia                         23154.18
Djibouti                       22729.91
Botswana                       22101.30
Lesotho                        21267.96
Guinea-Bissau                  19102.77
Cabo Verde                     14650.74
Sao Tome and Principe          12662.63
Seychelles                       442.34
Comoros                           59.84
Sudan (former)                     0.00
Ethiopia PDR                       0.00

In [9]:
#14

q14 = df.groupby('Element').sum().reset_index()
q14 [q14['Element'] == 'Stock Variation']

,Element,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
15,Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91

In [10]:
#15

df[['Y2017', 'Area']].groupby('Area').sum().sort_values(by='Y2017').reset_index()

                           Area       Y2017
0                Sudan (former)        0.00
1                  Ethiopia PDR        0.00
2                       Comoros       59.84
3                    Seychelles      442.34
4         Sao Tome and Principe    12662.63
5                    Cabo Verde    14650.74
6                 Guinea-Bissau    19102.77
7                       Lesotho    21267.96
8                      Botswana    22101.30
9                      Djibouti    22729.91
10                       Gambia    23154.18
11                        Gabon    27979.64
12                      Liberia    29342.20
13                      Namibia    29874.89
14     Central African Republic    29937.00
15                        Congo    41181.68
16                         Togo    49841.88
17                    Mauritius    51114.83
18                     Eswatini    54343.33
19                 Sierra Leone    55311.33
20                         Chad    71594.68
21                       Rwanda    73663.69
22                     Zimbabwe    75919.34
23                      Senegal    95681.15
24                       Guinea    98138.87
25                 Burkina Faso   101855.07
26                       Zambia   103223.77
27                      Tunisia   124167.20
28                        Benin   124771.22
29                        Niger   126707.58
30                   Madagascar   131197.73
31                         Mali   149928.33
32                   Mauritania   156665.46
33                   Mozambique   161407.98
34                       Malawi   181098.71
35                       Uganda   213950.38
36                Côte d'Ivoire   224599.01
37                       Angola   229159.57
38                     Cameroon   232030.43
39                        Sudan   239931.92
40                        Kenya   264660.66
41  United Republic of Tanzania   322616.85
42                      Algeria   325644.27
43                        Ghana   337599.06
44                      Morocco   388495.36
45                     Ethiopia   448683.76
46                 South Africa   517590.54
47                        Egypt   866379.92
48                      Nigeria  1483268.23

In [11]:
#16

df.groupby('Item').sum()[['Y2015', 'Y2018']]

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [12]:
#19

df['Area'].nunique()

49